<% content_for(:title) { @movie.title } %>

<h2 class="text-3xl font-bold mt-5"><%= @movie.title %></h2>

<p class="mt-5">
  <%= @movie.description %>
</p>

<div class="mt-5">
  <strong>Rating:</strong> <%= @movie.avg_vote %>
</div>

<div class="mt-5">
  <strong>Release Year:</strong> <%= @movie.year %>
</div>

<div class="mt-5">
  <strong>Duration:</strong> <%= @movie.duration %> minutes
</div>

<div class="mt-5">
  <strong>Produced by:</strong> <%= link_to @movie.production_company.name, @movie.production_company %>
</div>
