<p style="color: green"><%= notice %></p>

<% content_for :title, "Pages" %>

<h1>Pages</h1>

<div id="pages">
  <table class="table-auto">
    <tr>
      <th>
        Title
      </th>
      <th>
        Content
      </th>
      <th>
        Permalink
      </th>
      <th>
        Edit
      </th>
      <th>
        Destroy
      </th>
    </tr>
    <% @pages.each do |page| %>
      <tr>
        <td>
          <%= page.title %>
        </td>
        <td>
          <%= page.content %>
        </td>
        <td>
          <%= link_to "Show this page", permalink_path(page.permalink) %>
        </td>
        <td>
          <%= button_to "Edit this page", edit_page_path(page), form_class: "btn btn-blue" %>
        </td>
        <td>
          <%= button_to "Destroy this page", page, method: :delete, form_class: "btn btn-blue" %>
        </td>
      </tr>
    <% end %>
  </table>
</div>



<%= link_to "New page", new_page_path %>
